* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: 'Source Code Pro', monospace;
  /* font-family: "Open Sans", sans-serif; */
}
section {
  display: hidden;
}
body {
  width: 100%;
  max-width: 100%;
  display: block;
  min-height: 100vh;
  background: #052021;
  overflow-x: hidden;
  overflow-y: hidden;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
  padding: 3px;
}

.name {
  color: #8dd1d3;
}

.colored-toast.swal2-icon-success {
  background-color: #8dd1d3 !important;
}
.colored-toast.swal2-icon-error {
  background-color: #f27474 !important;
}
/* navbar start */
.header {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9;
  background-color: #021010;
}

.navbar {
  width: 100%;
  padding: 1rem 320px;
  display: flex;
  justify-content: space-between;
  background-color: #021010;
  z-index: 9;
}
.hamburger {
  display: none;
  z-index: 9;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #8dd1d3;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9;
}

.nav-item {
  margin-left: 5rem;
  list-style: none;
}
.nav-item a {
  color: #fff;
  opacity: 0.5;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.5s;
  font-size: 20px;
}

.nav-item a:hover,
.nav-item.active a {
  opacity: 1;
}

.nav-logo {
  font-size: 2.1rem;
  font-weight: 500;
  color: #8dd1d3;
}
@media only screen and (max-width: 575px) {
  .header {
    z-index: 9;
  }
  .navbar {
    padding: 1rem 1.2rem;
  }
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #052021;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/* .navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9;
  background: #021010;
}

.link-group {
  list-style: none;
  display: flex;
}

.link a {
  color: #fff;
  opacity: 0.5;
  text-decoration: none;
  text-transform: capitalize;
  padding: 10px 30px;
  margin: 0 20px;
  line-height: 80px;
  transition: 0.5s;
  font-size: 20px;
}

.link a:hover,
.link.active a {
  opacity: 1;
} */

.heading {
  text-align: center;
  font-size: 2.4em;
  color: #fff;
  text-transform: capitalize;
  font-weight: 300;
  margin-bottom: 80px;
}
.home-section {
  width: 100%;
  height: 100vh;
  padding: 120px 420px;
  display: none;
  align-items: center;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.3s;
  overflow-y: none;
}
.hero-heading {
  color: #fff;
  font-size: 120px;
  text-transform: capitalize;
  font-weight: 300;
}

.home-img {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 50%;
  object-fit: cover;
  opacity: 0.2;
  z-index: -1;
}
.home-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
@media only screen and (max-width: 575px) {
  .home-img,
  .hero-heading {
    width: 100%;
    font-size: 50px;
    text-align: center;
  }
}

/* about_section start */
.about-section {
  width: 100%;
  padding: 150px 320px 0;
  min-height: 100vh;
  top: 0;
  opacity: 0;
  transition: 0s;
  position: absolute;
  display: none;
}

.about {
  width: 100%;
  display: grid;
  grid-template-columns: 30% 65%;
  grid-gap: 40px;
}

.about-img-container {
  position: relative;
}

.about-info {
  color: #fff;
  opacity: 0.6;
  font-size: 20px;
  line-height: 40px;
}

.about-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.download-cv-btn {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  color: #fff;
  border: none;
  font-size: 16px;
  text-transform: capitalize;
  cursor: pointer;
  transition: 0.5s;
  background: rgba(0, 0, 0, 0.5);
}

.download-cv-btn:hover {
  background: #000;
}

.git-chart {
  margin-top: 20px;
  width: 100%;
}
@media only screen and (max-width: 575px) {
  
}

/* skill_section start */
.skill-section {
  width: 100%;
  padding: 0px 320px 0;
  min-height: 100vh;
  top: 100%;
  margin: 100px 0;
  position: absolute;
  opacity: 0;
  display: none;
}

.timeline .heading {
  margin-bottom: 150px;
}

.skills-container {
  width: 95%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 100px;
  color: #fff;
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  /* justify-content: center; */
}
.skills-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.tools {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  /* justify-content: flex-start; */
}
.tools-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.skill-card {
  position: relative;
  border: #565252 1px solid;
  border-radius: 13px;
}

.skill-img {
  display: block;
  margin: auto;
  height: 100px;
}

.skill-name {
  font-size: 30px;
  font-weight: 300;
  text-align: center;
  text-transform: capitalize;
  margin: 30px 0 20px;
}

.skill-info {
  text-align: center;
  opacity: 0.5;
  font-size: 18px;
  line-height: 30px;
}

.skill-level {
  position: absolute;
  top: 80px;
  right: 0;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  border-radius: 50%;
  border: 10px solid;
}

.skill-card:nth-child(1) .skill-level {
  background: #ff4f4f28;
  border-color: #ff4f4f;
  color: #ff4f4f;
}

.skill-card:nth-child(2) .skill-level {
  background: #4fa0ff28;
  border-color: #4fa0ff;
  color: #4fa0ff;
}

.skill-card:nth-child(3) .skill-level {
  background: #ffed4f28;
  border-color: #ffed4f;
  color: #ffed4f;
}

.skill-card:nth-child(4) .skill-level {
  background: #52ff4f28;
  border-color: #52ff4f;
  color: #52ff4f;
}

.skill-card:nth-child(5) .skill-level {
  background: #4fdfff28;
  border-color: #4fdfff;
  color: #4fdfff;
}


/* experience_section */
.timeline {
  width: 100%;
  padding: 150px 320px 0;
  margin: 150px auto;
  top: 140%;
  min-height: 70vh;
  position: absolute;
  opacity: 0;
  display: none;
}

.card {
  width: 45%;
  padding: 30px;
  border-radius: 10px;
  color: #fff;
  display: block;
  margin: -80px 0;
  position: relative;
  background: #f00;
}

.card:nth-child(even) {
  margin-left: auto;
}

.card:nth-child(even):before {
  content: "";
  position: absolute;
  left: -15%;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border: 5px solid #191919;
  border-radius: 50%;
}

.card:nth-child(even):after {
  content: "";
  position: absolute;
  left: -8.5%;
  top: 50%;
  transform: translateY(-50%);
  width: 7%;
  height: 2px;
  background: #fff;
  z-index: -1;
}

.card:nth-child(odd):before {
  content: "";
  position: absolute;
  right: -13%;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border: 5px solid #191919;
  border-radius: 50%;
}

.card:nth-child(odd):after {
  content: "";
  position: absolute;
  right: -8.5%;
  top: 50%;
  transform: translateY(-50%);
  width: 7%;
  height: 2px;
  background: #fff;
  z-index: -1;
}

.card:nth-child(2),
.card:nth-child(2):before {
  background: #ff4f4f;
}
.card:nth-child(3),
.card:nth-child(3):before {
  background: #ffb84f;
}
.card:nth-child(4),
.card:nth-child(4):before {
  background: #3dca5c;
}
.card:nth-child(5),
.card:nth-child(5):before {
  background: #565252;
}
.card:nth-child(6),
.card:nth-child(6):before {
  background: #4fa0ff;
}

.card:nth-child(even) .card-body:before {
  content: "";
  position: absolute;
  left: -12%;
  top: 0;
  width: 0px;
  height: 100%;
  border: 1px dashed #fff;
  z-index: -1;
}

.card-title {
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 20px;
}

@media only screen and (max-width: 575px) {
  
}

/* project section start */
.project-section {
  width: 100%;
  min-height: 100vh;
  padding: 150px 320px;
  top: 0;
  transition: 0s;
  opacity: 0;
  position: absolute;
  display: none;
}

.project-heading {
  font-size: 60px;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 50px;
  color: #fff;
}

.project-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 100px;
}

.project-card {
  height: 100%;
  position: relative;
  border: 1px solid #8dd1d3;
  display: flex;
  flex-direction: column;
}

.project-img {
  width: 100%;
  position: relative;
  object-fit: cover;
  background-position: center; /* Center the image */
  background-repeat: no-repeat;
  transition: 0.5s;
}

.project-content {
  position: relative;
  padding: 10px 0px;
  color: #fff;
  transition: 0.5s;
  opacity: 1;
}

.project-title {
  font-size: 25px;
  text-transform: capitalize;
  text-align: center;
  font-weight: 300;
}

.project-info {
  margin: 20px 20px;
  font-size: 15px;
  line-height: 30px;
  text-align: justify;
}

.project-btn-grp {
  padding: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.project-btn {
  text-transform: capitalize;
  font-size: 14px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
  padding: 7px;
}

.project-btn.live {
  background: none;
  border: 2px solid #fff;
}

.project-img:hover {
  /* filter: blur(20px); */

  transform: scale(2);
  z-index: 9;
}

@media only screen and (max-width: 575px) {
 
}

/* contact_section start */

.contact-section {
  width: 100%;
  top: 0;
  opacity: 0;
  transition: 0s;
  padding: 100px 320px;
  height: 0;
  position: absolute;
  grid-template-columns: repeat(2, 1fr);
  display: none;
}
.in-touch {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.contact-heading {
  text-align: center;
  font-size: 2.4em;
  color: #fff;
  text-transform: capitalize;
  font-weight: 300;
  margin-bottom: 20px;
}

.contact-form .input_section {
  width: 100%;
  gap: 20px;
}
.contact-form input,
.contact-form textarea {
  width: 90%;
  height: 60px;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #fff;
  margin-bottom: 30px;
  border-radius: 5px;
  color: #fff;
  padding: 5px 10px;
  font-size: 16px;
}

::placeholder {
  color: #fff;
}

#msg {
  height: 280px;
  resize: none;
  font-family: sans-serif;
}

.form-submit-btn {
  background: #ff4f4f;
  color: #fff;
  text-transform: capitalize;
  padding: 15px 40px;
  display: block;
  margin: auto;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
}

.map {
  width: 100%;
  height: 100%;
  padding: 10px;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

.map iframe {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

@media only screen and (max-width: 1700px) {
  /*laptop*/
  /* .skill-section,
  .about-section,
  .project-section,
  .contact-section,
  .timeline {
    padding: 150px 450px 0;
  } */
}

.home-section.active {
  opacity: 1;
  /* -webkit-transform: translateX(0%);
  transform: translateX(0%);
  transition: transform 0s; */
  display: unset;
}
.skill-section.active,
.about-section.active,
.timeline.active {
  /* -webkit-transform: translateX(-100%);
  transform: translateX(-100%); */
  opacity: 1;
  display: unset;
}
.project-section.active {
  /* -webkit-transform: translateX(-200%);
  transform: translateX(-200%);
  transition: transform 0s; */
  opacity: 1;
  display: unset;
}
.contact-section.active {
  /* -webkit-transform: translateX(-300%);
  transform: translateX(-300%);
  transition: transform 0s; */
  opacity: 1;
  display: grid;
  height: 100vh;
}
@media only screen and (max-width: 575px) {
  /* phone */
  
}
@media only screen and (max-width: 1024px) {
  .skill-section {
    position: relative;
    margin: 0;
    padding: 100px 150px 0;
  }
  .skills-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .tools-items {
    grid-template-columns: repeat(2, 1fr);
  }
  .skills-items {
    
    grid-template-columns: repeat(2, 1fr);
  }
  .timeline {
    position: relative;
    margin: 0;
    padding: 100px 50px 0;
  }
  .project-section {
    padding: 100px 50px 0;
  }
  .project-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .project-img:hover {
    /* filter: blur(20px); */

    transform: scale(1.3);
    z-index: 9;
  }
  .contact-section.active {
    padding: 100px 50px;
    display: block;
    overflow-y: auto;
  }
  .contact-form input,
  .contact-form textarea {
    width: 100%;
  }
  .contact-form .input_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .my_info {
    width: 100%;
    position: absolute;
    top: 0;
    padding: 150px 50px;
  }
  .about-section {
    width: 100%;
    font-size: 30px;
    position: relative;
    padding: 100px 150px 0;
  }

  .about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .about-img {
    height: 20%;
  }
  .about-img:hover {
    transform: scale(1.3);
    z-index: 9;
  }
  .more-about {
    height: 40%;
  }
  .git-chart {
    height: 130px;
  }
  .git-chart:hover {
    transform: scale(1.3);
    z-index: 9;
  }
}