<section class="about-section" id="about_">
    <h1 class="heading">Know Who <div class="name"> I'M</div>
    </h1>

    <div class="about">
        {% comment %} <div class="about-img-container">
            <img src="{{about.resume_pic.url}}" class="about-img" alt="">
         {% if about.resume.name %}<a href="{% url 'download_pdf_file'  filename=about.resume.name %}"><button class="download-cv-btn">downlaod
            cv</button></a>{% endif %}   
        </div> {% endcomment %}

        <div class="more-about">
            <p class="about-info">{{about.bio}}</p>
            <h3 style="margin-top:40px; font-size: 30px; color: white;">Days I <span class="name">Code</span>
            </h3>
            <img class="git-chart" src="http://ghchart.rshah.org/116466/mainaerick" alt="Name Your Github chart">

        </div>


    </div>

</section>